<main>
  <div>
    <p id="titulo">Comics Encontrados</p>

    <div id="comics" >
        <div class="caja"> <div class="avatar"></div> <div class="features"></div> <div class="score"></div> </div>
        <div class="caja"> <div class="avatar"></div> <div class="features"></div> <div class="score"></div> </div>
        <div class="caja"> <div class="avatar"></div> <div class="features"></div> <div class="score"></div> </div>
        <div class="caja"> <div class="avatar"></div> <div class="features"></div> <div class="score"></div> </div>
        <div class="caja"> <div class="avatar"></div> <div class="features"></div> <div class="score"></div> </div>
        <div class="caja"> <div class="avatar"></div> <div class="features"></div> <div class="score"></div> </div>
    </div>
  </div>
</main>