main
{
    div
    {
        #comics
        {
            .caja:hover
            {
                background: green;
            }

            .caja
            {
                .score
                {
                    margin: 18px;
                    padding: 6px;
                    opacity: 0.8;
                    background-color:white;
                    width: 150px;
                    height: 20px; 
                }

                .features
                {
                    margin: 18px;
                    padding: 6px;
                    opacity: 0.8;
                    background-color:white;
                    width: 150px;
                    height: 40px; 
                }

                .avatar
                {
                    margin: 18px;
                    padding: 6px;
                    opacity: 0.8;
                    background-color:white;
                    width: 150px;
                    height: 140px; 
                }

                transition: 0.15s;  
                background-color: black;    
                display: inline-block;
                margin: 1px;
                width: 200px;
                height: 310px;
            }

            text-align: center;
            margin: 0px auto;
        }

        #titulo
        {
            color: black;
            font-family: arial;
            font-size: 30px;
            margin-bottom: 10px;
            text-align: center;
        }

        margin: 110px auto;
    }
}